<div class="main-container ">
  <header class="container app-title">
    <div class="row">
      <h2 class="">Chat bots 2.0</h2>
    </div>
  </header>
  <main class="container-fluid">
    <div class="container  chat-wrapper">
      <div class="row no-gutters">
        <app-main-content class="col-md-9"></app-main-content>
        <app-sidebar class="col-md-3"></app-sidebar>
      </div>
      <!--<div *ngFor="let message of messages">-->
        <!--{{message}}-->
      <!--</div>-->

      <!--<input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />-->
      <!--<button (click)="sendMessage()">Send</button>-->
    </div>
  </main>
</div>
