section {

  background-color: white;
  height: 100%;
  .users-item{

  }
  .online {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      border-radius: 50%;
      width: 16px;
      height: 16px;
      background-color: green;
      transform: translate(50px, 50px)
    }

  }
  .offline {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      border-radius: 50%;
      width: 16px;
      height: 16px;
      background-color: red;
      transform: translate(50px, 50px)
    }

  }
}
