<section class="">
  <div class="card user-description">
    <div class="row no-gutters">
      <div class="col-auto">
        <img src="https://api.adorable.io/avatars/170/name.png" class="img-fluid" alt="">
      </div>
      <div class="col">
        <div class="card-block px-4 py-4">
          <h4 class="card-title">Reverse bot</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium aut consequatur
            delectus est illum, ipsa iusto laborum, maxime natus, quidem sit vel voluptas. Maiores nisi obcaecati quo
            veritatis voluptatem?</p>
        </div>
      </div>
    </div>
  </div>
  <app-messages ></app-messages>
  <app-send></app-send>
</section>
