section{
  height: 655px;
  .user-description{
    background-color: #becbd9;
    img{
      height: 170px;
      width: auto;
    }
    .card-block{
      padding-top: 21px;
      padding-left: 26px;
    }
  }
}
